@model WeddingPlanner.Models.LoginUser

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form asp-action="Login">
        <div class="LoginBody">
            <span asp-validation-for="LogEmail"></span>
            <label asp-for="LogEmail"></label>
            <input asp-for="LogEmail">

            <span asp-validation-for="LogPassword"></span>
            <label asp-for="LogPassword"></label>
            <input asp-for="LogPassword">

            <button>Sign In</button>
        </div>
    </form>
</body>
</html>